@font-face {
    font-family: britannic-bold-regular;
    src: url(britanic.ttf);
}

body {
    color:black;
    background-color:rgb(9, 99, 99);
    background-repeat: no-repeat;
    background-size: 60% ;
    background-image:url(portrait_Charles_Leandre.png);
    background-position: center, 150px;
    height: 756px;
    /* max-width: 500px; */
    margin:0;
    }

h1  {
    font-family: 'britannic-bold-regular', sans-serif !important;
}

.question-zone {
    height: 100px;
}

.answer-zone {
    padding-top: 160px;
}